---
import Section from "../../componets/Section.astro";
---

<Section title="Botones">
    <div class="card-default grid col-6">
        <button class="btn-default">btn-default</button>    
    </div>
</Section>