---
import Encabezados from '../../componets/sections/Font.astro';
import Display from '../../componets/sections/Display.astro';
import Section from '../../componets/Section.astro';
import type { Code } from 'astro:components';
---
<Section title="Tipografia y Encabezados">
    <p>
        Documentación y ejemplos de tipografía, incluidas configuraciones globales, encabezados, cuerpo de texto, listas y más.
    </p>
    <Encabezados/>	
	<!-- <Display/> -->
</Section>