.input-default {
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
    transition: .3s ease all;
    width: 100%;
    margin-bottom: 20px;
}

.input-default:focus {
    border: 1px solid var(--purple-indigo);
    outline: none;
}