---
import Section from "../Section.astro"
---
<Section title="Encabezados">
    <p>Los elementos de encabezado tradicionales est치n dise침ados para funcionar mejor en el contenido principal de su p치gina. Cuando necesite que un encabezado que destaque, considere usar en la clase el encabezado que desea visualizar: <span>display-#</span>, donde <span>#</span> es el tama침o del encabezado.</p><br>


    <div class="card-default">
        <h3 class="display-1">display-1</h3>
        <h3 class="display-2">display-2</h3>
        <h3 class="display-3">display-3</h3>
        <h3 class="display-4">display-4</h3>
        <h3 class="display-5">display-5</h3>
        <h3 class="display-6">display-6</h3>
    </div>

</Section>	

<style>
    span{
        color: var(--red-pure);
        font-weight: var(--fw700);
        }
</style>