<nav class="dropDown">


    <div class="dropDown__container">

        
        <ul class="dropDown__lists" id="menu">
            <h2 class="dropDown__title">Odin Framework</h2>

            <li class="dropDown__list">
                <a href="#" class="dropDown__link">
                    <span class="dropDown__span">Documentación</span>
                    <img src="../../../public/icons/down-arrow.svg" alt=Arrow" class="dropDown__icon dropDown__arrow">

                    <input type="checkbox" class="dropDown__check">
                </a>

                <div class="dropDown__content">
                    <ul class="dropDown__sub">
                        <li class="dropDown__li">
                           <a href="#" class="dropDown__anchor">Tipografias</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- <a href="#menu" class="dropDown__menu">
            <img src="../../../public/icons/nav-list.svg" alt="Boton de menu" class="dropDown__icon">
        </a>
        <a href="#" class="dropDown__menu dropDown__menu-second">
            <img src="../../../public/icons/x.svg" alt="Boton de Cerrar" class="dropDown__icon">
        </a> -->

    </div>
</nav>