---
import Section from "../Section.astro"
---
<Section title="Font Family">
    <p>Listado de fuentes más comunes y otras personalizadas al desarrollar aplicaciones web. Para aplicar cada tipo de fuente usamos la clase <span>fn-nombre de la fuente</span>.</p></br>
    
    <div class="card-default">
        <h2 class="display-6 fn-roboto">fn-roboto</h2>
        <h2 class="display-6 fn-open-sans">fn-open-sans</h2>
        <h2 class="display-6 fn-bungee-spice">fn-bungee-spice</h2>
        <h2 class="display-6 fn-nordic">fn-nordic</h2>
    </div>
</Section>

<style>
    span{
        color: var(--red-pure);
        font-weight: var(--fw700);
        }
</style>