<form action="">
    <input class="input-default" type="text" placeholder="Correo Electronico">
    <input class="input-default" type="password" placeholder="Escribe tú contraseña">
    <button class="btn-default">Suscribete</button>
    <button class="btn-default">Registrate</button>
</form>