<section class="container">
    <main class="grid col-3 med-col-2 peq-col-1">
        <div class="card-default">Card Default</div>
        <div class="card-default">Card 2</div>
        <div class="card-default">Card 3</div>
        <div class="card-default">Card 4</div>
        <div class="card-default">Card 5</div>
        <div class="card-default">Card 6</div>
    </main>
</section>