---
import Form from './Form.astro';

---
<section class="container">
    <main class="grid col-3">
        <div class="span-2 med-span-3">
            <div class="card-default">
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati esse ab placeat totam perferendis eos, laudantium quis vitae alias maiores, porro vel. Perferendis, dolorem obcaecati.</p>
            </div>
            <div class="card-default">
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati esse ab placeat totam perferendis eos, laudantium quis vitae alias maiores, porro vel. Perferendis, dolorem obcaecati.</p>
            </div>
        </div>
        <div class="card-default span-1 med-span-3">
            <h3>Registrate</h3>
            <Form/>
        </div>
    </main>
</section>
