/* 📌 CLASS BACKGROUND */
.bg-default{background: var(--default)} //--default:rgb(242, 242, 242);
.bg-green-pure{background: var(--green-pure);}     // --green-pure: rgb(0, 143, 57);
.bg-green-hunter{background: var(--green-hunter);}     // --green-hunter: rgb(75, 149, 96);
.bg-green-mint{background: var(--green-mint);}     // --green-mint: rgb(142, 221, 101);
.bg-green-fern{background: var(--green-fern);}     // --green-fern: rgb(0, 184, 79);
.bg-green-grinch{background: var(--green-grinch);}     // --green-grinch: rgb(68, 214, 44);
.bg-green-pine{background: var(--green-pine);}     // --green-pine: rgb(40, 97, 64);
.bg-green-pistacho{background: var(--green-pistacho);}     // --green-pistacho: rgb(161, 216, 132);
.bg-green-slime{background: var(--green-slime);}     // --green-slime: rgb(151, 215, 0)bg
.bg-green-olive{background: var(--green-teal);}     // --green-teal: rgb(32, 201, 151);
.bg-black-pure{background: var(--black-pure);}     // --black-pure: rgb(0, 0, 0);
.bg-black-cinder{background: var(--black-cinder);}     // --black-cinder: rgb(33, 35, 34);
.bg-black-tabaco{background: var(--black-tabaco);}     // --black-tabaco: rgb(45, 41, 38);
.bg-black-smokie{background: var(--black-smokie);}     // --black-smokie: rgb(37, 40, 42);
.bg-black-charcoal{background: var(--black-charcoal);}     // --black-charcoal: rgb(29, 37, 45);
.bg-black-neutral{background: var(--black-neutral);}     // --black-neutral: rgb(34, 34, 35);
.bg-black-deep{background: var(--black-deep);}     // --black-deep: rgb(16, 24, 32);
.bg-black-renaissance{background: var(--black-renaissance);}     // --black-renaissance: rgb(19, 30, 41);
.bg-purple-pure{background: var(--purple-pure);}     // --purple-pure: rgb(87, 35, 100);
.bg-purple-pale{background: var(--purple-pale);}     // --purple-pale: rgb(104, 91, 199);
.bg-purple-ursula{background: var(--purple-ursula);}     // --purple-ursula: rgb(78, 0, 142);
.bg-purple-ice-cream{background: var(-purple-ice-cream);}     // --purple-ice-cream: rgb(139, 132, 215);
.bg-purple-grapejuice{background: var(--purple-grapejuice);}     // --purple-grapejuice: rgb(846, 0, 139);
.bg-purple-lavender{background: var(--purple-lavender);}     // --purple-lavender: rgb(150, 120, 211);
.bg-purple-eggplant{background: var(--purple-eggplant);}     // --purple-eggplant: rgb(68, 0, 153);
.bg-purple-glossy{background: var(--purple-glossy);}     // --purple-glossy: rgb(117, 59, 189);
.bg-purple-royal{background: var(--purple-royal);}     // --purple-royal: rgb(112, 47, 138);
.bg-purple-indigo{background: var(--purple-indigo);}     // --purple-indigo: rgb(102, 16, 242);
.bg-blue-pure{background: var(--blue-pure);}     // --blue-pure: rgb(0, 0, 255);
.bg-blue-sky{background: var(--blue-sky);}     // --blue-sky: rgb(48, 127, 226);
.bg-blue-maya{background:var(--blue-maya);}    // --blue-maya: rgb(0, 156, 222);
.bg-blue-yale{background:var(--blue-yale);}    // --blue-yale: rgb(0, 94, 184);
.bg-blue-king{background:var(--blue-king);}    // --blue-king: rgb(16, 6, 159);
.bg-blue-baby{background:var(--blue-baby);}    // --blue-baby: rgb(105, 179, 231);
.bg-blue-azure{background:var(--blue-azure);}    // --blue-azure: rgb(0, 114, 206);
.bg-blue-serenity{background:var(--blue-serenity);}    // --blue-serenity: rgb(58, 93, 174);
.bg-yellow-pure{background:var(--yellow-pure);}    // --yellow-pure: rgb(255, 255, 0);
.bg-yellow-trafic{background:var(--yellow-trafic);}    // --yellow-trafic: rgb(254, 209, 65);
.bg-yellow-lemon{background:var(--yellow-lemon);}    // --yellow-lemon: rgb(233, 236, 107);
.bg-yellow-butter{background:var(--yellow-butter);}    // --yellow-butter: rgb(250, 224, 83);
.bg-yellor-true-yellow{background:var(--yellor-true-yellow);}    // --yellor-true-yellow: rgb(247, 234, 72);
.bg-yellow-sunnyside{background:var(--yellow-sunnyside);}    // --yellow-sunnyside: rgb(251, 225, 34);
.bg-yellow-blonde{background:var(--yellow-blonde);}    // --yellow-blonde: rgb(243, 234, 93);
.bg-yellow-bright{background:var(--yellow-bright);}    // --yellow-bright: rgb(255, 233, 0);
.bg-yellow-pastel{background:var(--yellow-pastel);}    // --yellow-pastel: rgb(240, 233, 145);
.bg-white-pure{background:var(--white-pure);}    // --white-pure: rgb(255, 255, 255);
.bg-white-letter{background:var(--white-letter);}    // --white-letter: rgb(242, 239, 230);
.bg-white-rice{color:var(--white-rice);}    // --white-rice: rgb(253, 248, 235);
.bg-white-perl{background:var(--white-perl);}    // --white-perl: rgb(252, 252, 247);
.bg-white-village{background:var(--white-ceramic);}    // --white-ceramic: rgb(254, 255, 250);
.bg-white-hazelnut{background:var(--white-hazelnut);}    // --white-hazelnut: rgb(243, 235, 223);
.bg-white-passific{background:var(--white-passific);}    // --white-passific: rgb(233, 234, 228);
.bg-red-pure{background:var(--red-pure);}    // --red-pure: rgb(203, 50, 52);
.bg-red-desire{background:var(--red-desire);}    // --red-desire:rgb(244,54,76);
.bg-red-maroon{background:var(--red-maroon);}    // --red-maroon:rgb(158, 42, 43);
.bg-red-warm{background:var(--red-warm);}    // --red-warm:rgb(249,66,58);
.bg-red-blush{background:var(--red-blush);}    // --red-blush:rgb(255,88,93);
.bg-red-blood{background:var(--red-blood);}    // --red-blood:rgb(203,44,48);
.bg-red-merlot{background:var();}    // --red-merlot: rgb(147,39,44);
.bg-red-rust{background:var(--red-rust);}    // --red-rust:rgb(192,76,54);
.bg-red-lipstick{background:var(--red-lipstick);}    // --red-lipstick:rgb(190,58,52);
.bg-pink-cotton-candy{background:var(--pink-cotton-candy);}    // --pink-cotton-candy:rgb(241,178,220);
.bg-pink-punch{background:var(--pink-punch);}    // --pink-punch:rgb(226,69,133);
.bg-pink-barbie{background:var(--pink-barbie);}    // --pink-barbie:rgb(223,25,149);
.bg-pink-pearl{background:var(--pink-pearl);}    // --pink-pearl:rgb(238,218,234);
.bg-pink-bubblegum{background:var(--pink-bubblegum);}    // --pink-bubblegum:rgb(240,78,152);
.bg-pink-fuccia{background:var(--pink-fuccia);}    // --pink-fuccia:rgb(234,39,194);
.bg-pink-lemonade{background:var(--pink-lemonade);}    // --pink-lemonade:rgb(248,163,188);
.bg-pink-romantic{background:var(--pink-romantic);}    // --pink-romantic:rgb(198,0,126);  
.bg-brown-sand{background:var(--brown-sand);}    // --brown-sand: rgb(212,181,158);
.bg-brown-avellana{background:var(--brown-avellana);}    // --brown-avellana: rgb(163,127,116);
.bg-brown-sugar{background:var(--brown-capuccino);}    // --brown-capuccino:rgb(191,148,116);
.bg-brown-chocolate{background: var(--brown-chocolate)} //--brown-chocolate:rgb(112,63,42);
.bg-brown-soft-sienna{background:var(--brown-soft-sienna);}    // --brown-soft-sienna:rgb(213,162,134);
.bg-brown-russete{background:var(--brown-russete);}    // --brown-russete:rgb(134,74,51);   
.bg-grey-pure{background:var(--grey-pure);}    // --grey-pure: rgb(155, 155, 155);