  /* 📌 CLASS Z Index */

.z10{z-index: var(--z10);}//   --z10
.z20{z-index: var(--z20);}//   --z20
.z30{z-index: var(--z30);}//   --z30
.z40{z-index: var(--z40);}//   --z40
.z50{z-index: var(--z50);}//   --z50
.z60{z-index: var(--z60);}//   --z60
.z70{z-index: var(--z70);}//   --z70
.z80{z-index: var(--z80);}//   --z80
.z90{z-index: var(--z90);}//   --z90